button {
    font-size: 30px;
    background-color: #CCA7A2;
}

.post a {
    color: black;
}

#signup {
    background-color: #D9BBF9;
}

body {
    background-color: #AA9FB1;
}

h1, h2 {
    color: #2660A4;
}

.tag {
    background-color: #e76f51;
    color: #264653;
    font-size: 16px;
}

footer a {
    color: #e9c46a;
}