button {
    font-size: 30px;
    background-color: #CCA7A2;
}

.post a {
    color: black;
}

#signup {
    background-color: #683b98;
}

body {
    background-color: #AA9FB1;
}

h1, h2 {
    color: #2660A4;
}

.tag {
    background-color: #e76f51;
    color: #264653;
    font-size: 16px;
}

footer a {
    color: #e9c46a;
}

h2 + button {
    font-size: 20px;
}

nav > a {
    color: green;
}

input[type="password"] {
    color: red;
}

a[href*="google"] {
    color: magenta;
}

button:hover {
    background-color: #d62828;
    color: #eae2b7;
}

.post button:hover {
    background-color: #003049;
    color: #eae2b7;
}

.post a {
    font-weight: 900;
}

.post a:hover {
    color: #7209b7;
}

button:active {
    background-color: #e07a5f;
}

.post {
    background-color: #ccd7b8;
}

.post:nth-of-type(2n) {
    background-color: #9ea98f;
}

h2::first-letter{
    font-size: 50px;
}

p::first-line{
    color: purple;
}

span::selection{
    background-color: yellow;
}

button:hover{
    background-color: olive;
    font-size: 10px;
}